.rev{
  margin-top: 170px;
  margin-bottom: 70px;
  
}
.center {
    
    margin:auto;
    height: auto;
    width: 100vw;
    border: 3px solid #d3d3d3;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  .result{
    padding: 10px;
    margin: 10px 2px ;
    border-radius: 20px;
    width:auto;
    background-color: rgb(240, 237, 233);
    
  }
  
  h2 {
    color:#f5740a;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .submitbtn{
    border: none;
    background-color:#f76e11 ;
    padding: 5px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 45%;
  }
  input {
    background-color: rgb(237, 245, 248);
    width: 100%;
    border-radius: 20px;
    height: 55px;
    border:none;
    border-radius: 5px;
    padding: 10px;
    
  }
  textarea   {
    background-color: rgb(237, 245, 248);
    width: 100%;
    border-radius: 20px;
    border:none;
    border-radius: 5px;
    padding: 10px;
  }
  
  form {
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 5px;
    
  }
  
  h4 {
    margin-right: 2px;
    display: flex;
    justify-self: flex-start; 
    flex-wrap: wrap;   
  }
  h5 {
    display: flex;
    margin-right: 2px;
    justify-content: flex-end;
  }
  
  li {
    font-weight: 600;
    
  }
  
  #errorOccured {
    color: rgba(199, 23, 23, 0.63);
    font-weight: 600;
  }
  
  @media only screen and (max-width: 950px ) {
    .rev{
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .center {
      width: auto;
    }
    
  }
  
  @media only screen and (min-width: 950px) {
    .rev{
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .center {
      
      width: 65%;
    }
    
  }
  