.single_product {
  background: #f2f1f1fb;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  animation: animate 1s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 80%;
  height: 100%;
  transition: 1s;
  font-size: 24px;
}

.single_product:hover {
  box-shadow: 5px 5px 10px -5px #ffae3e;
  font-size: 25px;
  transition: 0.5ms;
}
#cart{
    border: none;
    background-color: none;
}

.single_product .price {
  color: black;
}

.single_product .sprite{

width: 90%;
display:flex;
justify-content: space-between;
align-items: center;
}

@keyframes animate {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 767px) {
  #cart{
    font-size:1.2rem;
  }
  .product__content h6 {
    font-size: 0.6
    rem;
  }
  .h5, h5 {
    font-size: 0.7rem;
}

  .price {
    font-size: 0.8rem;
  }

  .price span {
    font-size: 0.9rem;
  }
}
