.rev{
  margin-top: 170px;
  margin-bottom: 70px;
}
.center {
    
    margin:auto;
    height: 80%;
    width: 50vw;
    border: 3px solid #d3d3d3;
    border-radius: 10px;
    padding: 10px;
  }
  .result{
    padding: 5px;
    margin: 10px 2px ;
    background-color: rgb(240, 237, 233);
  }
  
  h2 {
    color:#f5740a;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .submitbtn{
    border: none;
    background-color:#f76e11 ;
    padding: 5px;
    border-radius: 12px;
    color: #ffffff;
    font-weight: 600;
  }
  input {
    background-color: rgb(237, 245, 248);
    width: 85%;
    border:none;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  h6 {
    margin-right: 2px;
  }
  
  li {
    font-weight: 600;
    
  }
  
  #errorOccured {
    color: rgba(199, 23, 23, 0.63);
    font-weight: 600;
  }
  
  @media only screen and (max-width: 950px) {
    .rev{
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .center {
      width: auto;
    }
  }
  
  @media only screen and (min-width: 950px) {
    .rev{
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .center {
      
      width: 40%;
    }
  }
  