.btn {
    padding: 7px 25px;
    border-radius: 5px;
    background: #f76e11;
    color: rgb(248, 248, 248);
    font-size: 0.9rem;
    margin-top: 30px;
  }
  #slide {
    margin-top:150px;
    margin-bottom: 250px;
    
  }
  #desc{
    font-size: 1.4rem;
  }
  #tit {
    font-weight: 800;
  }

  .btn:hover {
    color: rgb(255, 255, 255);
    padding: 7px 25px;
    border-radius: 5px;
    background: #f9c74f;
    
    font-size: 0.9rem;
    margin-top: 30px;
  }
  .slick-prev:before,
.slick-next:before {
  color: #FD8F25!important;
  font-size: 25px;
  
}
  
  @media only screen and (max-width: 992px) {
  
    .slider__content h2 {
      font-size: 1.5rem;
    }
  
    .slider__content p {
      font-size: 0.8rem;
    }
  
    .slider__content .btn {
      padding: 5px 20px;
      font-size: 0.7rem;
      
    }
  }
  
  @media only screen and (max-width: 767px) {
    #bt1 {
      
      font-size: 0.6rem;
      
    }
    #tit {
      font-size: 1rem;
    }
    #desc {
      gap:0.1rem;
      font-size: 0.6rem;
    }
    #slide {
      margin-top:20px;
      margin-bottom: 20px;
      
    }
    .slider__content {
      padding-left: 0;
    }
  
    .slick-prev,
    .slick-next {
      display: none !important;
      
    }
  }

